<h1>Sign up</h1>

<style>
    h5 {
        color: red;
    }
</style>

{% for message in messages %}
    <h5>{{ message }}</h5>
{% endfor %}

<form method="post", action="register">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />

    <label for="email">Email</label>
    <input type="text" name="email" id="email" />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />

    <label for="password2">Repeat password</label>
    <input type="password" name="password2" id="password2" />

    <input type="submit" value="Sign up" />

</form>